{% extends "modeler/base.html" %}

{% block title %}Confirmar Deleção - Data Vault Modeler{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4><i class="fas fa-exclamation-triangle"></i> Confirmar Deleção</h4>
                </div>
                <div class="card-body">
                    <h5>Você tem certeza que deseja deletar o Satellite "{{ satellite.name }}"?</h5>
                    
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-triangle"></i>
                        Esta ação não pode ser desfeita!
                    </div>
                    
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        <input type="hidden" name="confirm" value="true">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'project_detail' satellite.project.pk %}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Sim, Deletar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 